<h1>Todo List</h1>
<button (click)="toggleAllTasks()" class="btn btn-primary"  [routerLink]="['/Todos/CompletedTasks']" style= "margin-left: 50px">{{buttonText}}</button>
<div *ngIf="!showAllTodoList"> 

  <router-outlet></router-outlet>
</div>
<hr>
<div *ngIf = "showAllTodoList">
<div class="card-container">
  <ng-container *ngFor="let todo of todos$ | async">
    <div class="col mb-3">
      <div class="card" [routerLink]="['/Todo', todo.id]">
        <div class="card-body" style="height: 100%">
          <h5 class="card-title" [routerLink]="['/Todo', todo.id]">{{todo.id}}</h5>

          <p class="card-text">{{todo.title}}</p>
          <a href="/Todos" class="btn btn-primary">{{todo.completed}}</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
</div>
<hr>

<button type="button" (click)="goBack()" style="margin-left: 50px;">Go to sidekicks</button>
